[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/abseil-cpp"]
	path = extern/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "extern/glog"]
	path = extern/glog
	url = https://github.com/google/glog
[submodule "extern/grpc"]
	path = extern/grpc
	url = https://github.com/grpc/grpc
[submodule "extern/rocksdb"]
	path = extern/rocksdb
	url = https://github.com/facebook/rocksdb
