.idea/
cmake-build-debug/
CMakeFiles/
Makefile
VectorSearch
VectorSearch.cbp
cmake_install.cmake
lib/
include/
share/
bin/
cmake/
tests/CMakeFiles/
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
build_version.cc
tests/distance_test
tests/bktree_test
tests/vsearch_test
tests/delindices/
tests/origindices/
tests/vsearch_test
tests/addindices/
tests/CTestTestfile.cmake
vsearch/vsearch.grpc.pb.cc
vsearch/vsearch.grpc.pb.h
vsearch/vsearch.pb.cc
vsearch/vsearch.pb.h
addindices/
delindices/
origindices/
