.idea/
cmake-build-debug/
CMakeFiles/
Makefile
VectorSearch
VectorSearch.cbp
cmake_install.cmake
lib/
tests/CMakeFiles/
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
build_version.cc
tests/distance_test
